# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/

# Data and Models (Only ignore root folders, NOT src/data or src/models)
/data/
/models/
*.csv
*.parquet
*.pkl
*.bin
*.ckpt
*.json
*.jsonl

# IDEs
.vscode/
.idea/
.ipynb_checkpoints/